{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
<script>

function next() { save_results({{next_question_number}}) }
function previous() { save_results({{prev_question_number}}) }

function save_results(destination_question_number) {
    const inputs = document.getElementsByTagName('input');
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const checkboxes = Array.prototype.slice.call(inputs).filter(input => input.type !== "hidden");
    const answers = checkboxes.map(input => {
        return {
            number: input.id,
            result: input.checked,
        }
    });
    const data = {
        answers: answers,
        next_question_number: destination_question_number,
        csrfmiddlewaretoken: csrftoken,
    };
    send(data, csrftoken);
}

function send(data, csrftoken) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/quiz/{{quiz_url_id}}/question/{{question_number}}", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', csrftoken);
    xhr.onreadystatechange = function() {
        // I know it's very oldschool way
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            window.open(this.responseURL, "_self");
        }
    }
    xhr.send(JSON.stringify(data));
}
</script>

<center
<div>
    {{question.text}}
</div>
{% for choice in choices %}
<div style="padding: 20px">
    <label for="answer_{{choice.number}}">{{choice.text}}</input>
    <input type="checkbox" id="{{choice.number}}" {% if choice.value %}checked{% endif %}>
</div>
{% endfor %} 

{% if prev_question_number %}
<button onclick="previous()"> Previous </button>
{% endif %}

{% if next_question_number %}
<button onclick="next()"> Next </button>
{% else %}
<a href="{% url 'submit_quiz' quiz_url_id=quiz_url_id %}"> Submit </a>
{% endif %}

</center>
{% endblock %}
